/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Warna latar belakang yang putih */
    color: #000000; /* Warna teks utama hitam */
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #00abe4; /* Warna sidebar biru cerah */
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar .logo h2 {
    color: #ffffff; /* Warna teks logo putih */
    margin: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: #000000; /* Warna teks menu hitam */
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: none; /* Hapus efek transisi */
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background: #e9f1fa; /* Warna latar belakang menu aktif dan hover */
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    box-sizing: border-box;
    background: #e9f1fa; /* Warna latar belakang konten utama */
    color: #000000; /* Warna teks utama hitam */
}

/* CSS Tambahan */
header {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Justifikasi konten ke kanan */
    margin-bottom: 20px;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

header img {
    border-radius: 50%;
    margin-right: 10px;
}

.user-wrapper h4 {
    margin: 0;
}

main {
    margin-bottom: 20px;
}

form {
    max-width: 500px; /* Mengurangi lebar maksimum form */
    margin: 0 auto;
    padding: 20px;
    background: #e9f1fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


input[type="text"],
select,
input[type="time"],
input[type="submit"] {
    width: 100%; /* Mengisi seluruh lebar parent */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #00abe4;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.footer {
    background-color: #00abe4; /* Warna latar belakang footer */
    color: #ffffff; /* Warna teks footer */
    padding: 20px; /* Padding dalam footer */
    text-align: center; /* Penjajaran teks ke tengah */
    font-size: 14px; /* Ukuran teks */
    margin-top: 220px;
}


.footer a {
    color: #ffffff; /* Warna teks tautan dalam footer */
    text-decoration: none; /* Hapus garis bawah tautan */
    margin: 0 5px; /* Jarak antara tautan */
    transition: color 0.3s ease; /* Transisi perubahan warna saat hover */
}

.footer a:hover {
    color: #f2f2f2; /* Warna teks tautan saat hover */
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 100%; /* Membuat tombol bundar dengan border-radius 50% */
    background-color:#00abe4;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button:hover {
    width: 140px;
    border-radius: 50px; /* Ketika di-hover, memperbesar dan membulatkan tombol */
    transition-duration: 0.3s;
    background-color: #00abe4;
    align-items: center;
  }
  
  .button:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
  }